<header>
  <div class="grid">
    <div class="unit one-fifth"> </div>
    <div class="unit four-fifths">
      <h1> <a href="{{ site.url }}/"> <span>NoBrainer</span> </a> </h1>
      <h3>A Ruby ORM for RethinkDB</h3>
    </div>
  </div>

<!-- put back when we do it properly for mobiles -->
<!-- <a href="https://github.com/nviennot/nobrainer"><img style="position: absolute; top: 0; right:0; border: 0; width: 149px; height: 149px;" src="/img/forkme.png" alt="Fork me on GitHub"></a> -->

</header>
