* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clear {
  display: block;
}

.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  font-size: 16px;
  font-weight: 300;
  color: #ddd;
  background-color: #222;
  background-image: url('/img/background.png');
}

hr {
  border: none;
  border-top: 1px solid #222;
  border-bottom: 1px solid #555;
}

body > header h1, body > header h3 {
  text-align: center;
}

body > footer {
  font-size: 12px;
  text-align: right;
}

article {
  background: rgba(192, 192, 192, 0.2);
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
  padding: 30px 30px 30px;
}

aside {
  padding-left: 20px;
}

aside h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 0 0 10px 0;
  margin-left: -30px;
  display: block;
  border-bottom: 1px solid #c00;
}

aside ul {
  padding-left: 0;
}

aside ul:first-child {
  margin-top: 0;
}

aside li {
  list-style-type: none;
}

aside li a {
  font-size: 16px;
  position: relative
}

aside li.current a:before {
  content: "★";
  position: absolute;
  left: -30px;
}

.docs article {
  min-height: 800px;
}

.section-nav {
  text-align: center;
  padding-top: 40px;
  position: relative;
  margin: 20px -20px 10px;
}

.section-nav > div {
  width: 49.5%;
}

.section-nav a, .section-nav span {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 12px 10px;
  border-radius: 5px;
  /*border: 1px solid #333;*/
  box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5);
  background: #777;
}

.section-nav a:hover {
  color: #fff;
  background: #888;
}

.section-nav .next, .section-nav .prev {
  position: relative;
}

.section-nav .next:after, .section-nav .prev:before {
  font-size: 36px;
  color: #222;
  font-weight: 800;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  position: absolute;
  top: -7px;
}

.section-nav .next:after {
  content: "›";
  right: 10px;
}

.section-nav .prev:before {
  content: "‹";
  left: 10px;
}

.section-nav .prev, .section-nav .prev:hover {
  padding-left: 30px;
}

.section-nav .next, .section-nav .next:hover {
  padding-right: 30px;
}

.section-nav .disabled {
  opacity: .5;
  cursor: default;
}

code {
  color: #fff;
  font-weight: bold;
}
pre {
  font-family: "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  /* line-height: 0.5em; */
  padding: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
pre code {
  font-weight: normal;
}

code { font-size: 14px; }

article h1 {
  margin-top: 0px;
  text-align: center;
}

article h1, h2, h3 {
  color: white;
}

article h2:after {
  display: block;
  content: "";
  border-top: 1px solid #333;
  border-bottom: 1px solid #777;
}

article h3:before {
  content: "★ ";
  color: #bbb;
}

/* HTML Elements */

a, a code {
  color: #fc0;
  text-decoration: none;
  transition: all .25s;
   -moz-transition: all .25s;
   -webkit-transition: all .25s;
}

a:hover {
  color: #f90;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.5em;
}

.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

/* Article HTML */

article h2,
article h3,
article h4,
article h5,
article h6 {
  margin: 1em 0;
}

article h4 {
  color: #fff;
}

h5, h6 {
  font-size: 1em;
  font-style: italic;
}

article ul li p {
  margin: 0;
}

article ul li, article ol li {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

article ul li blockquote {
  margin: 10px 0;
}
